@keyframes move {
  from {
    width: 2vw;
  }
  to {
    width: 100vw;
  }
}

.point {
  animation: move linear;
  animation-timeline: scroll(root block);

  position: fixed;
  bottom: 0;
  left: 0;

  background-color: #F47B7B;
  height: 0.5em;
}
