#adjust:checked ~ .times {
  font-size-adjust: 0.5;
}

.verdana,
.times {
  font-size: 0.75rem;
  border: solid 2px red;
}

.verdana {
  font-family: Verdana, sans-serif;
}
.times {
  font-family: Times, serif;
}
