.item {
  container-name: item;
  border: 4px solid;
  margin: 1rem;
}

.item:hover {
  --active: true;
}

@container item style(--active: true) {
  div {
    background-color: #EFBBBE;
  }
}
@container item not style(--active: true) {
  div {
    background-color: #eee;
  }
}
