html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.05em;

  color: #333333;
  background-color: #fafafa;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(header, footer, main, aside) {
  max-width: 40ic;
  margin-inline: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  word-break: auto-phrase;
}

p {
  word-break: auto-phrase;
}

dt {
  font-weight: 800;
}

pre {
  padding: 1em;
  font-size: 0.8rem;
  line-height: 1.4;
}
code {
  font-style: italic;
  padding: 0 0.2em;
  background-color: #eeeeee;
}
pre > code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-style: initial;
  padding: initial;
  background-color: initial;
}

blockquote {
  margin: 2em 0;
  padding: 0.2em 1em;
  border-left: 8px solid #CACACA;
  background-color: #eeeeee;
}

a {
  word-break: break-word;
}

table {
  width: 100%;
  overflow-x: auto;
}
:where(th, td) {
  padding: 0.3em;
}
tr:nth-child(2n) {
  background-color: #eeeeee;
}

@media (prefers-reduced-motion) {
  *, *::before, *::after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
