html {
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.05em;

  color: #333333;
  background-color: #fafafa;
}

:where(header, footer, main) {
  max-width: 50ch;
  margin: auto;
}

pre {
  padding: 1em;
}

dt {
  font-weight: 800;
}
