html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
  line-height: 1.7;
  letter-spacing: 0.05em;

  color: #333333;
  background-color: #fafafa;
}

:where(header, footer, main) {
  max-width: 40ic;
  margin-inline: auto;
}

p {
  word-break: auto-phrase;
}

dt {
  font-weight: 800;
}

pre {
  padding: 1em;
  font-size: 0.8rem;
  line-height: 1.4;
}
code {
  font-style: italic;
  padding: 0 0.2em;
  background-color: #eeeeee;
}
pre > code {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-style: initial;
  padding: initial;
  background-color: initial;
}

blockquote {
  margin: 2em 0;
  padding: 0.2em 1em;
  border-left: 8px solid #CACACA;
  background-color: #eeeeee;
}

a {
  word-break: break-word;
}
