.fit-section {
  padding: 1em;
  border: solid 4px;
  resize: horizontal;
  overflow: auto;
  width: 100%;
  height: auto;
}

.block {
  border: solid 4px;
}
.-max {
  /* コンテンツにフィットするけど幅は固定 */
  width: max-content;
}
.-min {
  /* 最小幅 */
  width: min-content;
}
.-fit {
  /* max-contentとmin-contentを組み合わせたような値 */
  width: fit-content;
}
