<amp-ad
  width="100vw"
  height="320"
  type="adsense"
  data-ad-client="ca-pub-1276308583388146"
  data-ad-slot="4838874341"
  data-auto-format="rspv"
  data-full-width=""
>
  <div overflow=""></div>
</amp-ad>
