---
interface Props {
  featureId: string;
}

const { featureId } = Astro.props;
---

<script>
  import("baseline-status" as string);
</script>

<section class="baseline">
  <baseline-status featureId={featureId}></baseline-status>
</section>

<style>
  .baseline + .baseline {
    margin-top: 1rem;
  }
</style>
