---
  const currentYear = new Date().getFullYear();
---

<footer> 
  Copyright
  ©
  {currentYear}
  <a href="https://x.com/pufferbommy" target="_blank">
    pufferbommy
  </a>
</footer>

<style>
  footer {
    text-align: center;
    font-size: smaller;
  }
</style>