.safe-container,
.container {
  display: flex;
  flex-direction: column;
  width: 30ch;
  border: 4px solid;
  padding: 1em;

  background-color: #eee;
}

.container {
  align-items: center;
}
.safe-container {
  align-items: safe center;
}

.item {
  border: 4px solid;
  white-space: nowrap;
}
