---
import Meta from '../components/Meta.astro'
import GoogleFont from '../components/GoogleFont.astro'
import '../styles/global.css';
interface Props {
  title: string;
  description: string
  tags: string
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/til/favicon.ico" />

    <Meta {...Astro.props} />
    <GoogleFont />

    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/til">≪ Today I learned.</a>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>
        <small>Copyright © 2024 <a href="https://x.com/bc_rikko" target="_blank">ダーシノ(@bc_rikko)</a></small>
      </p>
    </footer>
  </body>
</html>
